{%- for line_item in cart.items -%}
  {%-assign inCart = inCart | append: line_item.product_id | append: ',' %}
{%- endfor -%}

{%- assign upsell_count = 0 -%}
<h3 class="cart_upsell-heading Grid--center">Frequently Bought Together</h3>
<div class="cart_upsell">
{%- for product in settings.cart_upsell_collection.products -%}
  {%- unless inCart contains product.id or product.available == false -%}
    {%- capture supported_sizes -%}{%- render 'image-size', sizes: '200,300,400,600', image: product.featured_media -%}{%- endcapture -%}
    {%- assign media_aspect_ratio = product.featured_media.aspect_ratio | default: product.featured_media.preview_image.aspect_ratio -%}
    {% assign image_url = product.featured_media | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
    <div class="cart_upsell_item">
        <a href="{{ product.first_available_variant.url }}&utm-link=cart-us">
          <img class="Image--lazyLoad" style="width: 100%;" data-src="{{ image_url }}" data-widths="[{{ supported_sizes }}]" data-sizes="auto" alt="{{ product.featured_media.alt | escape }}">
          <span class="Image__Loader"></span>
        </a>
      {% form 'product', product, class: 'ProductForm' %}
        {%- render 'product-data', product: product -%}
          <!-- <input type="hidden" name="id" value="{{ product.first_available_variant.id }}"> -->
          <input type="hidden" name="quantity" value="1" />
          <button type="submit" data-use-primary-button="true" class="ProductForm__AddToCart Button Button--primary Button--tiny cart_upsell_button" data-action="add-to-cart">
            <span>Add {{ product.first_available_variant.price | money_without_trailing_zeros }}</span>
          </button>
      {%- endform -%}
    </div>
    {%- assign upsell_count = upsell_count | plus: 1 -%}
  {%- endunless -%}
  {%- if upsell_count == 3 -%}
    {%- break -%}
  {%- endif -%}
{%- endfor -%}
</div>

