{%- for line_item in cart.items -%}
  {%-assign inCart = inCart | append: line_item.product_id | append: ',' %}
{%- endfor -%}

{%- assign upsell_count = 0 -%}
<div class="cart_upsell">
  <h3 class="cart_upsell-heading">Frequently Bought Together</h3>
  <div style="height: 142px">
  {%- for product in settings.cart_upsell_collection.products -%}
    {%- unless inCart contains product.id or product.available == false -%}
      {%- capture supported_sizes -%}{%- render 'image-size', sizes: '200,300,400,600', image: product.featured_media -%}{%- endcapture -%}
      {%- assign media_aspect_ratio = product.featured_media.aspect_ratio | default: product.featured_media.preview_image.aspect_ratio -%}
      {% assign image_url = product.featured_media | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
      <div class="AspectRatio" style="max-width: {{ product.featured_media.preview_image.width }}px; --aspect-ratio: {{ media_aspect_ratio }} Grid__Cell 1/3">
        <a href="{{ product.url }}&utm-link=cart-us">
          <img class="Image--lazyLoad" data-src="{{ image_url }}" data-widths="[{{ supported_sizes }}]" data-sizes="auto" alt="{{ product.featured_media.alt | escape }}">
          <span class="Image__Loader"></span>
        </a>
        <form method="post" action="" id="product_form_{{id}}" accept-charset="UTF-8" class="ajaxcart__upsell-form js-product-form" enctype="multipart/form-data"><input type="hidden" name="form_type" value="product"><input type="hidden" name="utf8" value="✓">
          <input type="hidden" name="id" value="{{ id }}" />
          <button onClick="addItem('product_form_{{id}}'); return false;" type="submit" name="add" class="ajaxcart__add-btn c-btn--white js-product-add">
          <span class="cart_upsell-button">Add {{ price }}</span>
          </button>
              </form>
      </div>
      {%- assign upsell_count = upsell_count | plus: 1 -%}
    {%- endunless -%}
    {%- if upsell_count == 3 -%}
      {%- break -%}
    {%- endif -%}
  {%- endfor -%}
  </div>
</div>
