<section class="Section Section--spacingNormal" data-section-id="{{ section.id }}" data-section-type="image-grid" data-settings='{{ section_settings }}'>
    <div class="TabPanel" id="block-{{ block.id }}" aria-hidden="false" role="tabpanel" {{ block.shopify_attributes }}>
      <style>
        .ImageGrid {
          diplay: flex;
          {%- if section.settings.grid_margin == false -%}
            margin: -6px, -6px;
          {%- endif -%}
        }
        .ImageGrid-item {
            text-align: center;
            vertical-align: middle;
            margin: 6px;
            {%- if section.settings.grid_mobile_items_per_row == 1 -%}
              width: 100%;
            {%- elsif section.settings.grid_mobile_items_per_row == 2 -%}
              width: 50%;
            {%- endif -%}
        }
          @media screen and (min-width: 641px){
            .ImageGrid-item {
              {%- if section.settings.grid_desktop_items_per_row == 1 -%}
                width: 100%;
              {%- elsif section.settings.grid_desktop_items_per_row == 2 -%}
                width: 50%;
              {%- elsif section.settings.grid_desktop_items_per_row == 3 -%}
                width: 33.34%;
              {%- elsif section.settings.grid_desktop_items_per_row == 4 -%}
                width: 25%;
              {%- endif -%}
              }
          }
      </style>
      <div class="ImageGrid">
        {%- for block in section.blocks -%}
          {%- assign image = block.settings.image -%}
            {%- capture supported_sizes -%}{%- render 'image-size', sizes: '200,335,340,350,375,400,600,700,800,900,1000,1200', image: block.settings.image -%}{%- endcapture -%}
            {% if block.settings.link != blank %}<a href="{{ block.settings.link }}">{%  endif %}
              <div class="ImageGrid-item AspectRatio" style="max-width: {{ block.settings.image.width | times: section.settings.max_width | divided_by: 100 }}px; --aspect-ratio: {{ block.settings.image.aspect_ratio }}">
                {%- assign image_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                <img class="Image--lazyLoad"
                  data-src="{{ image_url }}"
                  data-widths="[{{ supported_sizes }}]"
                  data-sizes="auto"
                  alt="{{ block.settings.image.alt | escape }}">
              </div>
              <span class="Image__Loader"></span>             
                      <noscript>
                        <img class="" src="{{ block.settings.image | img_url: '600x' }}" alt="{{ block.settings.image.alt | escape }}">
                      </noscript>
              {% if block.settings.link != blank %}</a>{% endif %}
        {%- endfor -%}
      </div>
      {%- if section.settings.button_link != blank -%}
        <div class="Container">
          <div class="SectionFooter">
            <a href="{{ section.settings.button_link }}" class="Button Button--primary">{{ section.settings.button_text | escape }}</a>
          </div>
        </div>
      {%- endif -%}
    </div>
</section>

{% schema %}
{
  "name": "Image Grid",
  "max_blocks": 8,
  "settings": [
    {
      "type": "range",
      "min": 1,
      "max": 3,
      "id": "grid_mobile_items_per_row",
      "label": "Images per row (mobile)",
      "default": 2
    },
    {
      "type": "range",
      "min": 1,
      "max": 4,
      "id": "grid_desktop_items_per_row",
      "label": "Images per row (desktop)",
      "default": 4
    },
    {
      "type": "checkbox",
      "id": "grid_margin",
      "label": "Outer margins",
      "default": true
    },
    {
      "type": "range",
      "id": "max_width",
      "label": "Scale maximum width",
      "min": 5,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Images",
      "name": "Image grid",
      "settings": {},
      "blocks": [
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}