<section id="section-{{ section.id }}">

  <div class="FlexboxIeFix" style="background: {{ section.settings.background_color }}; padding: 25px 40px;">
    <div class="newsletter_plain">
      <header class="SectionHeader SectionHeader--center">
        {%- if section.settings.subheading != blank -%}
          <h3 class="SectionHeader__SubHeading Heading u-h6">{{ section.settings.subheading | escape }}</h3>
        {%- endif -%}
  
        {%- if section.settings.title != blank -%}
          <h2 class="SectionHeader__Heading Heading u-h1">{{ section.settings.title | escape }}</h2>
        {%- endif -%}
  
        {%- if section.settings.content != blank -%}
          <div class="SectionHeader__Description">
            {{ section.settings.content }}
          </div>
        {%- endif -%}
      </header>
  
      {%- assign newsletter_id = 'footer-' | append: section.id -%}
  
      {%- form 'customer', id: newsletter_id, class: 'Newsletter Form' -%}
        {%- if form.posted_successfully? -%}
          <p class="Form__Alert Alert Alert--success">{{ 'home_page.newsletter.success' | t }}</p>
        {%- else -%}
          {%- if form.errors -%}
            <p class="Form__Alert Alert Alert--error">{{ form.errors.messages['email'] }}</p>
          {%- endif -%}
  
          <div class="Newsletter__Inner">
            <input type="hidden" name="contact[tags]" value="newsletter">
            <input type="email" name="contact[email]" class="Form__Input" aria-label="{{ 'home_page.newsletter.input' | t }}" placeholder="{{ 'home_page.newsletter.input' | t }}" required>
            <button type="submit" class="Form__Submit Button Button--primary">{{ 'home_page.newsletter.submit' | t }}</button>
          </div>
        {%- endif -%}
      {%- endform -%}
    </div>
  </div>
</section>

<style>
  #section-{{ section.id }},
  #section-{{ section.id }} .Heading {
    color: {{ section.settings.text_color }};
  }

  #section-{{ section.id }} .Form__Submit,
  #section-{{ section.id }} .Form__Input {
    border-color: {{ section.settings.text_color }};
    color: {{ section.settings.button_color }};
  }

  #section-{{ section.id }} .Form__Submit::before {
    background-color: {{ section.settings.text_color }};
  }

  @media (-moz-touch-enabled: 0), (hover: hover) {
    #section-{{ section.id }} .Form__Submit:hover {
      color: {{ section.settings.text_color }};
    }
  }
</style>

{% schema %}
{
  "name": "Newsletter Plain",
  "settings": [
    {
      "type": "select",
      "id": "section_size",
      "label": "Section size",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "small"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "Button text",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background",
      "default": "#f49ac1"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Sub-heading",
      "default": "Keep updated"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Newsletter"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Text",
      "default": "<p>A short sentence describing what someone will receive by subscribing</p>"
    }
  ],
  "presets": [
    {
      "category": "Promotional",
      "name": "Newsletter Plain",
      "settings": {}
    }
  ]
}
{% endschema %}